<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83912801371-qtv2k6l71darhphmmjsmlnqc7au3ml8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83912801371-qtv2k6l71darhphmmjsmlnqc7au3ml8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDFiz6nvYFVFFRoX4bhGvYSiELqtjBsA1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>83912801371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cbn.febbler</string>
	<key>PROJECT_ID</key>
	<string>febbler-9b2d0</string>
	<key>STORAGE_BUCKET</key>
	<string>febbler-9b2d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83912801371:ios:3463a58807b7c138b7937e</string>
	<key>DATABASE_URL</key>
	<string>https://febbler-9b2d0.firebaseio.com</string>
</dict>
</plist>